<head>
    <title>{{ title }}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='main.css') }}">

<body>
    <div class="App">
        <header class="App-header">
            <p>
                I<span class="heart">♥️</span>Duku
            </p>
            <p class="small">
                My suduku Webapp
            </p>
        </header>

        <table class="App-board">
            {% for row in board %}
            <tr>
                {% for square in row %}
                <td>{{ square.value or '' }}</td>
                {% endfor %}
            </tr>
            {% endfor %}
        </table>
    </div>
</body>

</html>